<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="ManagedUtilitiesCE" publicKeyToken="1099c178b3b54c3b" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.6197.19995" newVersion="1.0.6197.19995" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>